/* --------------------------
    Reset Default
   --------------------------
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------
    General Styling
   --------------------------
*/
:root {
  --color-text: hsl(0, 2%, 11%);
  --color-link: hsl(21, 36%, 51%);
  --color-bg: hsl(21, 30%, 91%);
  --color-deco: hsl(21, 21%, 87%);
  --color-scrollbar: hsl(22, 52%, 82%);

  --font-family-primary: "Satoshi", sans-serif;
  --font-family-secondary: "Panchang", sans-serif;
  --font-family-fallback: "Clash Display", sans-serif;
}

html {
  scroll-behavior: initial;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-family: var(--font-family-primary);
  font-family: var(--font-family-secondary);
  font-family: var(--font-family-fallback);
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
